
 body{

	background-color: #151515;
	
}
#a{
	color:white;
	background-color: tomato;
	margin: 2%;
	padding: 0% 3%;
}
#b{
	color:#FFF;
	background-color: #3f3f3f;
	padding: 0% 3%;
}

    #about{
	font-family: 'Open Sans', sans-serif;
	font-size:126px;	
	color: #333;
	text-align: center;
	margin-top: 13%;
	margin-bottom: 2%;
	}
	#sec{
		font-family: 'Open Sans', sans-serif;
		font-size:30px;
		color: #5F5F5F;		
		text-align: center;
	}
	a{
		text-decoration:none;
		color: white;
		border: none;
		outline: none;
	}
	
	#back{
		font-size:20px;
		font-family:'Open Sans', sans-serif;
		text-align:center;
	  cursor: pointer;
		color: white;
	}
	
	
@media screen and (max-width:600px){
	#about{
		font-size:60px;
		text-align:center;
		margin-top: 42%;
		margin-bottom: 8%;
	}
	#sec{
		text-align:center;
		font-size:16px;
		margin:0 10%;
		
	}
	
	#back{
		font-size:12px;
	}
	
}