{%load static%}
<!DOCTYPE html>
<html>
 <head>
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:600|Lobster" rel="stylesheet"> 
<link rel="stylesheet" href={%static "styles/404.css"%} type="text/css"/>
 	<title> 400 Bad Request</title>
 </head>
 <body>   
   <p id="about" ><span id="a">4</span><span id="b">0</span><span id="a">0</span></p> 
   <p id="sec">Your browser sent a request that this server cannot understand. </p>   
 </body>
</html>