{%load static%}
<!DOCTYPE html>
<html>
 <head>
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:600|Lobster" rel="stylesheet"> 
<link rel="stylesheet" href={%static "styles/404.css"%} type="text/css"/>
 	<title> 404 Page Not Found</title>
 </head>
 <body>   
   <p id="about" ><span id="a">4</span><span id="b">0</span><span id="a">4</span></p> 
   <p id="sec">Opps ! We can't seem to find the page you are looking for. </p>
    <p id="back"><a href={%url "homepage"%}>GET BACK TO SITE</a></p>
 </body>
</html>