{% extends "base.html"%}
{%load filters%}
{%load static%}
{%block tcss%}
{%if choice == "new"%}
<title>PyForums | Latest Questions</title>
<meta name="keywords" content="PyForums,forums,Python,latest ,questions"/>
{% else %}
<title>PyForums | Hot Questions </title>
<meta name="keywords" content="PyForums,forums,Python,hot ,questions"/>
{%endif%}
<link type="text/css" rel="stylesheet" href={%static "styles/base.css"%}>
{%endblock%}
{%block fadd%}
<link href="https://fonts.googleapis.com/css?family=Lobster|Lato|Roboto:900|Arimo:700|Open+Sans:400|Montserrat:700" rel="stylesheet"> 
{%endblock%}
{%block header%}
   {%if choice == "new"%}    
   <p class="addheader" ><a class="ah" href={%url "indexnav"  "top" %}>Hot questions</a></p>  
     <p class="addheader"><a class="ap"  href={%url "indexnav" "new"%}>Latest questions</a></p>
    {% else %}
     <p class="addheader" ><a class="ap"  href={%url "indexnav"  "top" %}>Hot questions</a></p>  
     <p class="addheader"><a class="ah"  href={%url "indexnav" "new"%}>Latest questions</a></p>
    {%endif%} 
     <p class="addheader"><a class="ah" href={%url "askquestion"%}>Ask question</a></p>
    <p class="addheader" id="hidehead" ><a class="ah" href={%url "all" "aboutus" %}>About</a></p>
     <p class="addheader" id="hidehead" ><a class="ah"  href={%url "all" "contactus" %}>Contact</a></p>
     <form  id="search" action={% url "search" %} method="get">
           {{search.searchinfo}}
          <input id="submitsearch" type="image" src={%static "images/search.png"%} alt="submit"/>
     </form>  
{%endblock%}
{%block section%}
{%if choice == "new"%}
<h2 id="h2tagh">LATEST QUESTIONS</h2>
{%else%}
<h2 id="h2tagh">HOT QUESTIONS</h2>
{%endif%}
<section>
    <div id="list">
   <ul id="queslist">
{% for contact in contacts %}
       <li class="lielement">
         <h3>
          <a href={%url "seeques" contact.id contact.slug%}>{{contact.header}}</a>
        </h3>
        <div class="abox">
      {%if contact.reply%}
      <div class="circlet" style="background-color:springgreen;color:white;border:2px solid springgreen">{{contact.reply}} </div>
      {%else%}
      <div class="circlet"> {{contact.reply}}</div> 
      {%endif%}answers</div> 
       <div class="vbox">
      <div class="circlet">{{contact.views|viewscut}}</div>
      views</div>
      <p class="user">      
             {%if contact.updated %}
             Updated 
             {{contact.dateqtime|timesince}} ago
             {%else%}
             Posted 
             {{contact.dateqtime|timesince}} ago
             {%endif%}by
             <strong><a class="usera" href={%url "user" contact.user.id  contact.user.first_name %} >  {{contact.user.first_name}} {{contact.user.last_name}}</a></strong>
             </p>     
    </li>      
{% endfor %}
</ul>
<div class="pagination">  
        {% if previouspage >= 0 %}
            <a style="color:steelblue"href="{%url "indexnav" choice%}?page={{ previouspage}}">previous</a>
        {% endif %}
        <span class="current">
            page {{ current }} of {{ totalpages}}
        </span>
        {% if current != totalpages %}
            <a style="color:steelblue" href="{%url "indexnav" choice%}?page={{page}}">next</a>
        {% endif %}
</div>
</div>
<div id="hotq">
     <h3>TOP DISCUSSIONS</h3>    
     <ul>
       {%for hots in hotlist%}
         <li class="hothome"><a class="hotlink" href={%url "seeques" hots.id hots.slug%}>{{hots.header}}</a></li>
        {%endfor%}
      </ul>   
   </div>

</section>
{%endblock%}
{%block login%}
<a href={%url "login" "new"%} ><p id="loginhead">Login</p></a>
{%endblock%}
{%block signup%}
<a href={%url "signup" "new"%}><p id="registerhead" >Signup</p></a>
{%endblock%}
{%block js%}
  <script src={%static "javascript/main.js"%}></script>
{%endblock%}

