{% extends "base.html"%}
{%load static%}
{%block tcss%}
<title>PyForums Profiles | Change Email Id | {{username.first_name}}  {{username.last_name}}</title>
<link type="text/css" rel="stylesheet" href={%static "styles/profile.css"%}>
{%endblock%}
{%block fadd%}
<link href="https://fonts.googleapis.com/css?family=Lobster|Raleway|Source+Sans+Pro:300|Open+Sans:400" rel="stylesheet">
<meta name="keywords" content="PyForums,forums,Python"/>
<meta name="description" content="PyForums,online solution to all your python queries "/>
{%endblock%}
{%block section%}
<h1>SRy put profile pi upload feature will be started after few days</h1>
{%endblock%}